<div class="container text-center">
    <h1 mat-dialog-title style="font-size: 18px; margin-bottom: 10px;">Fin del juego</h1>

    <div mat-dialog-content *ngIf="win.type == 'user'">Felicidades, eres el ganador, jugastes todas las cartas, gracias por jugar!  :D</div>

    <div mat-dialog-content *ngIf="win.type == 'Pc'">Auch, perdiste, tu oponente jugó todas sus cartas, gracias por jugar! :D</div>

    <div mat-dialog-actions style="display: flex; justify-content: center;">
        <button mat-raised-button color="primary" (click)="navigateHome()">Volver a jugar</button>
    </div>

</div>