#component-uno{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100vh;
}

.card-tittle{
    font-size: 13px;
    color: white;
    font-weight: 600;
}

#cardsPc{
    height: 150px;
    width: 110px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #111b21;
    border: white solid 5px;
    border-radius: 10px;
    padding: 0px 4px;
}


.cardsUser{
    height: 150px;
    width: 110px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-top: 20px;
    border: white solid 5px;
    border-radius: 10px;
    padding: 0px 4px;
    filter: opacity(50%);
}

.cardsUser:hover{
    transform: translateY(-20px);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 15px 15px;
}

.animation{
    filter: none;
    transform: scale(1);
    /* animation: gradient 2s infinite; */
}

/* @keyframes gradient {

	50% {
		box-shadow: #23d5ab 0px 5px 15px 0px;
	}

} */


#content-cards{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: white;
    
}

.getCards{
    cursor: pointer; 
}